<%- include('partials/header.ejs') %>

<script src="/home.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../stylesheets/mypage.css">


    <div class="cinema-show">

        <div class="alert alert-success mypage-background" role="alert">
            <p class="movie-head">MY PROFILE</p>
            <img src="<%= currentUser.picture %>" alt="" style="width: 9rem; height:  9rem;">
            <p class="user-detail"><span class="mypage-edit">Username : <%= currentUser.username %></span><br>
                <span class="mypage-edit">First name : <%= currentUser.firstname %></span><br>
                <span class="mypage-edit">Last name : <%= currentUser.lastname %></span><br><br>
            </p>
            <form action="/user/<%= currentUser._id %>" method="POST" enctype="multipart/form-data" class="up-img">
                <input type="file" class="form-control" name="image" accept="image/*">
                <button type="submit" class="btn btn-warning">Submit</button>
            </form><hr class="line-5">
            
            
        </div>
    </div>

    <div class="alert alert-success mypage-background button-control" role="alert">
        <button id="sub-now" class="showing-movie decoration">Movie history</button>
        <button id="sub-come" class="coming-movie decoration">My favorite movie</button>
    </div>
   

    <div id="now-showing">

        <% if (currentUser) { %>
            <% Booking.forEach(function(thisReserve){ %>
                <div class="album py-5">
                    <div class="container dec">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 dec-1" >
                           
                            <div class="col" >
                                <div class="card shadow-sm bg-dark" style="width: 12rem;">
                                    <img src="<%= thisReserve.moviesImage %>"
                                        class="card-img-top">
                                </div>
                            </div>

                            <div class="col" style="color: white;">
                                <p class="history-name-movie"><%= thisReserve.moviesName %></p>
                                <p>Date : <%= thisReserve.date %></p>
                                <p>Time : <%= thisReserve.time %></p>
                                <p>Cinema : <%= thisReserve.cinemaName %></p>
                                <p>Theater : <%= thisReserve.theater %></p>
                                <p>Seat no. : <%= thisReserve.seats %></p>
                            </div>
                           
                    
                        </div>
                    </div>
                </div>
                <% }); %>
                <% } %>
       
    </div>
            <!-- <% if (currentUser) { %>
                <% Booking.forEach(function(thisReserve){ %>
                    <div class="alert alert-success mypage-background" role="alert"></div>
                        <div class="album py-5">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    <div class="col">
                                        <div class="card shadow-sm bg-dark" style="width: 12rem;">
                                            <img src="<%= thisReserve.moviesImage %>"
                                                class="card-img-top">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="history-block">
                            <p class="history-name-movie"><%= thisReserve.moviesName %></p>
                            <p>Date : <%= thisReserve.date %></p>
                            <p>Time : <%= thisReserve.time %></p>
                            <p>Cinema : <%= thisReserve.cinemaName %></p>
                            <p>Theater : <%= thisReserve.theater %></p>
                            <p>Seat no. : <%= thisReserve.seats %></p>
                        </div>
                    </div><hr class="line" >
                <% }); %>
            <% } %>
    </div> -->

    <div id="coming-soon" class="hidden">

            <div class="album py-5">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
                    <!-- picture and detail -->
        
                    <% if ( movie.likes == 0 ) {  %>
                      &ensp; <p class="dont-like"> Empty! </p> 
                  <% } else {  %>
                      <% movie.likes.forEach(function(liked){ %>
                          <div class="col">
                              <a href="/movie/<%= liked.movies.id %>" class="detail" style="text-decoration: none;">
                                  <div class="card shadow-sm bg-dark"  style="width: 14.3rem;">
                                      <img src="<%= liked.movies.image %>" class="card-img-top" style="height: 21rem;">
                                      <div class="card-body">
                                          <h5 class="card-title">
                                              <%= liked.movies.name %>
                                          </h5>
                                          
                                      </div>
                                  </div>
                              </a>
                          </div>
                      <% }); %>
                  <% } %>
        
                    

                
                

        </div>
        
    </div>
        
        
        
                    
        
        
                   
        
        
               

   
<%- include('partials/footer.ejs') %>